<section class="section">
  <h2 class="section-h2">Inicio de sesión</h2>
  <form [formGroup]="formLogin" class="form" (submit)="login()">
    <div class="form-div">
      <mat-label ngClass="form-label">Usuario</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Ingrese su usuario"
          formControlName="userName"
          type="text"
          required
        />
      </mat-form-field>

      <mat-label ngClass="form-label">Contraseña</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Ingrese su contraseña"
          formControlName="password"
          type="password"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon class="form-icon" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
      <button class="form-button" type="submit" [disabled]="formLogin.invalid">
        Ingresar
      </button>
    </div>
  </form>
</section>
