.notfound-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.notfound-title {
  font-size: 200px;
  font-weight: bold;
}

.notfound-subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #545454;
}
.notfound-message {
  font-size: 20px;
  color: #545454;
}
