<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <h1 class="text-center">Datos personales</h1>
    <div class="text-center">
      <form [formGroup]="registerForm">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="contactEmail" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="contactPhone" />
        </mat-form-field>
        <br />
      </form>
    </div>
    <br />
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="register()">
        Guardar
      </button>
    </div>
  </div>
</div>
