/* mat-slider {
    width: 300px;
} */

.layout-resume {
  display: flex;
}

.layout-form {
  width: 100%;
  max-height: 100vh;
  padding: 2rem;
  overflow-y: auto;
}

.layout-preview {
  width: 100%;
  max-width: 40%;
  background-color: #000000;
}

.button-floating {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.button-floating:hover {
  background-color: #242424;
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.subform {
  justify-content: space-between 5px;
  justify-items: 5px;
}