<div class="layout-preview bg-body-secondary">
  <div class="h-100 bg-white shadow-sm p-2 overflow-y-auto">
    <div class="h3 p-3">Curriculum Vitae</div>
    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0">Datos personales:</p>
      <p class="m-0">Nombres: {{ firstName }}</p>
      <p class="m-0">Apellidos: {{ lastName }}</p>
      <p class="m-0">Correo electrónico: {{ contactEmail }}</p>
      <p class="m-0">Télefono: {{ contactPhone }}</p>
    </div>
    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0" *ngIf="educationList.length > 0">
        Formación:
      </p>
      <div *ngFor="let education of educationList">
        <div class="d-flex py-2 flex-column m-0 p-0">
          <p class="m-0">Institución:{{ education.institution }}</p>
          <p class="m-0">Formación: {{ education.degree }}</p>
          <p class="m-0">
            Fecha de inicio: {{ education.startDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">
            Fecha de finalización:
            {{ education.endDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">Descripción: {{ education.description }}</p>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0" *ngIf="experienceList.length > 0">
        Experiencias:
      </p>
      <div *ngFor="let experience of experienceList">
        <div class="d-flex py-2 flex-column m-0 p-0">
          <p class="m-0">Nombre: {{ experience.jobTitle }}</p>
          <p class="m-0">Empleador: {{ experience.company }}</p>
          <p class="m-0">
            Fecha de inicio: {{ experience.startDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">
            Fecha de finalización:
            {{ experience.endDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">Descripción: {{ experience.description }}</p>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0" *ngIf="projectList.length > 0">
        Proyectos:
      </p>
      <div *ngFor="let project of projectList">
        <div class="d-flex py-2 flex-column m-0 p-0">
          <p class="m-0">Nombre: {{ project.projectName }}</p>
          <p class="m-0">
            Fecha de inicio: {{ project.startDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">
            Fecha de finalización: {{ project.endDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="m-0">Descripción: {{ project.description }}</p>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0" *ngIf="skillList.length > 0">
        Competencias:
      </p>
      <div *ngFor="let skill of skillList">
        <div class="d-flex py-2 flex-column m-0 p-0">
          <mat-chip class="bg-light">{{ skill.skillName }}</mat-chip>
        </div>
      </div>
    </div>
  </div>
</div>
