<div class="layout-preview">
  <div class="container p-5 rounded-5 h-100">
    <div class="container bg-body-secondary h3 p-3">Curriculum test</div>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem
      consequatur rerum hic, cupiditate voluptate eos cumque ratione placeat
      earum voluptates corrupti culpa expedita explicabo neque sit veritatis.
      Sint, aspernatur beatae? Soluta veniam quia esse consequuntur aliquam
      tenetur velit exercitationem. Aliquam aut consectetur excepturi, sint hic
      ad recusandae eligendi quod iure unde fugiat illum numquam at quidem sed
      facere natus quia! Accusamus, deserunt dolore est consequuntur ipsam
      perspiciatis. Reiciendis cum non pariatur, officia nemo ad corrupti optio
      maiores facilis quasi in maxime nostrum incidunt aliquid, nihil, et
      commodi veniam perspiciatis tempore. Odio mollitia laborum voluptatibus
      voluptatum, ipsum vero repellat excepturi? Fuga in doloremque, corrupti,
      blanditiis ea sequi rem alias consequuntur repellat eligendi distinctio
      rerum dolore praesentium debitis eveniet, vel necessitatibus! Odit! Quas
      labore sequi officiis explicabo repellat qui dolore culpa corporis impedit
      odio vero error in non possimus totam accusamus, aliquid eius nobis
      provident, aut doloribus nihil est.
    </div>
  </div>
</div>
