<div class="layout-preview bg-body-secondary">
  <div class="h-100 bg-white shadow-sm p-2">
    <div class="h3 p-3">Curriculum Vitae</div>
    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0">Datos personales:</p>
      <p class="m-0">Nombres: {{firstName}}</p>
      <p class="m-0">Apellidos: {{lastName}}</p>
      <p class="m-0">Correo electrónico: {{contactEmail}}</p>
      <p class="m-0">Télefono: {{contactPhone}}</p>
    </div>
    <br>
    <!--

    
    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0">Formación:</p>
      <p class="m-0">Institución</p>
      <p class="m-0">Formación</p>
      <p class="m-0">Fecha de inicio</p>
      <p class="m-0">Fecha de finalización</p>
      <p class="m-0">Descripción</p>
    </div>
    -->
    <div>
      <h4 *ngIf="educationList.length > 0">Formación</h4>
      <div *ngFor="let education of educationList">
        <br>
        <mat-card>
          <mat-card-content>
            <p>Institución:{{ education.institution }}</p>
            <p>Formación: {{ education.degree }}</p>
            <p>Fecha de inicio: {{ education.startDate }}</p>
            <p>Fecha de finalización: {{ education.endDate }}</p>
            <p>Formación: {{ education.degree }}</p>
            <p>Descripción: {{ education.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <!--

    
    <div class="d-flex py-2 flex-column px-3">
      <p class="text-muted py-1 m-0">Experiencia:</p>
      <p class="m-0">Puesto</p>
      <p class="m-0">Empleador</p>
      <p class="m-0">Fecha de inicio</p>
      <p class="m-0">Fecha de finalización</p>
      <p class="m-0">Descripción</p>
    </div>
    -->
    <div>
      <h4 *ngIf="experienceList.length > 0">Experiencias</h4>
      <div *ngFor="let experience of experienceList">
        <br>
        <mat-card>
          <mat-card-content>
            <p>Nombre: {{ experience.jobTitle }}</p>
            <p>Empleador: {{ experience.company }}</p>
            <p>Fecha de inicio: {{ experience.startDate }}</p>
            <p>Fecha de finalización: {{ experience.endDate }}</p>
            <p>Descripción: {{ experience.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <div>
      <h4 *ngIf="projectList.length > 0">Proyectos</h4>
      <div *ngFor="let project of projectList">
        <br>
        <mat-card>
          <mat-card-content>
            <p>Nombre: {{ project.projectName }}</p>
            <p>Fecha de inicio: {{ project.startDate }}</p>
            <p>Fecha de finalización: {{ project.endDate }}</p>
            <p>Descripción: {{ project.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div>
      <h4 *ngIf="skillList.length > 0">Competencias</h4>
      <div *ngFor="let skill of skillList">
        <br>
        <mat-card>
          <mat-card-content>
            <p>Nombre: {{ skill.skillName }}</p>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
    </div>
  </div>
</div>