<div class="layout-list">
  <h1 class="h3">Mis Curriculums</h1>

  <div class="py-3 search">
    <input
      type="text"
      class="input-search shadow-sm"
      (keyup)="applyFilter($event)"
      placeholder="Buscador"
      #input
    />
    <div class="btn-search">
      <mat-icon>search</mat-icon>
    </div>
  </div>

  <div>
    <p class="h6 py-2 text-muted">Listado de curriculums.</p>
    <table mat-table class="shadow-sm" [dataSource]="this.dataSource" matSort>
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-secondary fw-normal"
        >
          N° de curriculum
        </th>
        <td mat-cell *matCellDef="let i = index" class="w-25">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-secondary fw-normal"
        >
          Nombre del curriculum
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.firstName + " " + row.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-secondary fw-normal"
        >
          Acciones
        </th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            color="primary"
            class="buttonAction"
            (click)="editResume(row.id)"
          >
            Editar
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-raised-button
            color="warn"
            class="buttonAction"
            (click)="deleteResume(row.id)"
          >
            Eliminar
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="12">No hay registros</td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
